doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    p It works!
    div(id="app")
      div.login-button
        button.login-button(v-on:click="visible = !visible") Login
      div.login-form(v-if="visible")
        login